@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: 'Inter', sans-serif;
}

.footer{
    height: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(217, 217, 217, 1);
    padding-left: 60px;
    padding-right: 60px;
}



.footer-list{
    display: flex;
    gap: 40px;
    list-style: none;
    font-size: 24px;
    color: rgba(34, 34, 34, 0.5);
    font-weight: 400;
     font-family: 'Inter', sans-serif;

}